@model IS_distance_learning.Models.Question

@{
    ViewData["Title"] = "Подробнее";
}

<div class="d-flex flex-column">

    <span class="mt-3">Вопрос: @Html.DisplayFor(model => model.Text)</span>
    <form method="get" class="mb-3">
        <input name="QuestionId" type="hidden" value="@Model.Id" />
        <input type="submit" asp-action="Create" asp-controller="Answers" class="btn btn-primary" value="Добавить ответ на вопрос" />
    </form>
        
    <table border="1" bordercolor="#dee2e6" class="table">
        <tr>
        <tr>
            <th>Ответ</th>
            <th>
                Правильный
            </th>
            <th>
                Редактировать
            </th>
            <th>
                Удалить ответ
            </th>
        </tr>
            @foreach (Answer a in Model.Answers)
            {
                <tr>
                    <td>@a.Text</td>
                    <td>
                        @if (a.IsRight)
                        {
                            <span>Правильный ответ</span>
                        }
                    </td>
                    <td>
                        <form method="get">
                            <input name="id" class="hide disabled invisible" type="hidden" value="@a.Id" />
                            <input type="submit" asp-action="Update" asp-controller="Answers" class="btn btn-info" value="Редактировать" />
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <input name="id" class="hide disabled invisible" type="hidden" value="@a.Id" />
                            <input type="submit" asp-action="Delete" asp-controller="Answers" class="btn btn-danger" value="Удалить" />
                        </form>
                    </td>
                </tr>
            }
    </table>
</div>

<form asp-action="Details" asp-controller="Tests" method="get">
    <input name="id" type="hidden" value="@Model.TestId" />
    <input type="submit" value="Вернуться к тесту" class="btn-link border-0 bg-white" />
</form>
