@model List<TestGrade>

@{
    ViewData["Title"] = "Ответы студентов";
}

<div class="d-flex flex-column mb-2">
    <form method="get" class="form-inline d-flex justify-content-start">
        <input type="hidden" name="courseId" value="@ViewBag.CourseId" />
        <div class="d-flex mr-2">
            <label class="control-label mr-1">Выберите тест: </label>
            <select name="TestId" class="form-control">
                <option value="0">Все</option>
                @foreach (Test test in ViewBag.Tests)
                {
                    <option value="@test.Id">@test.Name</option>
                }
            </select>
        </div>
        <div class="mr-2">
            <div class="d-flex">
                <label class="control-label mr-1">Выберите группу: </label>
                <select name="GroupId" class="form-control custom-select">
                    <option value="0">Все</option>
                    @foreach (Group g in ViewBag.Groups)
                    {
                        <option value="@g.Id">@g.Code</option>
                    }
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Подтвердить" />
    </form>
</div>
<table border="1" bordercolor="#dee2e6" class="table">
    <tr>
        <th>Название теста</th>
        <th>Дата окончания</th>
        <th>ФИО студента</th>
        <th>Группа</th>
        <th>Оценка</th>
        <th>Попытки</th>
    </tr>
    @foreach (TestGrade tg in Model)
    {
        <tr>
            <td>@tg.Test.Name</td>
            <td>@tg.Test.ExpirationDate</td>
            <td>@tg.Student.Account.LastName @tg.Student.Account.Name @tg.Student.Account.MiddleName</td>
            <td>@tg.Student.Group.Code</td>
            <td>@tg.Grade</td>
            <td>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="@("#a" + tg.Id)" aria-expanded="false" aria-controls="@("a" + tg.Id)">
                    Попытки
                </button>
            </td>
        </tr>
        foreach (Attempt a in tg.Test.Attempts.Where(a => a.StudentId == tg.StudentId))
        {
            <tr class="collapse" id="@("a" + tg.Id)">
                <td>@tg.Test.Name</td>
                <td>@tg.Test.ExpirationDate</td>
                <td>@tg.Student.Account.LastName @tg.Student.Account.Name @tg.Student.Account.MiddleName</td>
                <td>@tg.Student.Group.Code</td>
                <td>@a.Grade</td>
            </tr>
        }
    }
</table>