@model List<Attempt>

@{
    ViewData["Title"] = "Ответы студентов";
}

<div class="d-flex flex-column mb-2">
    <form class="form-inline d-flex justify-content-start">
        <div class="d-flex mr-2">
            <label class="control-label mr-1">Выберите тест: </label>
            <select name="TestId" class="form-control">
                <option value="0">Все</option>
                @foreach (Test test in ViewBag.Tests)
                {
                    <option value="@test.Id">@test.Name</option>
                }
            </select>
        </div>
        <div class="mr-2">
            <div class="d-flex">
                <label class="control-label mr-1">Выберите группу: </label>
                <select name="GroupId" class="form-control custom-select">
                    <option value="0">Все</option>
                    @foreach (Group g in ViewBag.Groups)
                    {
                        <option value="@g.Id">@g.Name</option>
                    }
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Подтвердить" />
    </form>
</div>
<table border="1" bordercolor="#dee2e6" class="table">
    <tr>
        <th>Название теста</th>
        <th>Описание</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Кол-во правильных ответов</th>
    </tr>
    @foreach (Attempt a in Model.SelectedAttempts)
    {
        <tr>
            <td>@a.Test.Name</td>
            <td>@a.Test.Description</td>
            <td>@a.Test.Date</td>
            <td>@a.Test.ExpirationDate</td>
            <td>@a.Mark из @a.Test.Questions.Count</td>
        </tr>
    }
</table>